:root {
  --ss-background: #020407;
  --ss-surface: #0A0D0F;
  --ss-chrome: #131A21;
  --ss-foreground: #EFF2F6;
  --ss-muted-foreground: #A0A5AA;
  --ss-chrome-foreground: #EFF2F6;
  --ss-border: #303942;
  --ss-primary: #8792FF;
  --ss-primary-foreground: #020305;
  --ss-accent: #00D3E4;
  --ss-accent-foreground: #020305;
  --ss-focus: #95C9FF;
  --ss-success: #73D083;
  --ss-success-foreground: #020305;
  --ss-warning: #E1AD57;
  --ss-warning-foreground: #020305;
  --ss-danger: #FF968A;
  --ss-danger-foreground: #020305;
  --ss-primary-50: #F7F8FF;
  --ss-primary-100: #E6EAFF;
  --ss-primary-200: #CDD5FF;
  --ss-primary-300: #ADB8FF;
  --ss-primary-400: #8792FF;
  --ss-primary-500: #6C73EA;
  --ss-primary-600: #565AD0;
  --ss-primary-700: #4343AF;
  --ss-primary-800: #2E2A8C;
  --ss-primary-900: #1C1069;
  --ss-primary-950: #0C0041;
  --ss-accent-50: #EAFDFF;
  --ss-accent-100: #BBF8FF;
  --ss-accent-200: #73EDFA;
  --ss-accent-300: #46D4E2;
  --ss-accent-400: #00B3C2;
  --ss-accent-500: #0095A1;
  --ss-accent-600: #007A85;
  --ss-accent-700: #00616A;
  --ss-accent-800: #00464C;
  --ss-accent-900: #002D31;
  --ss-accent-950: #001518;
}
